@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Roboto&display=swap');
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Comic Neue", cursive;
    margin: 0px;
}

#container {
    background-color: lightgreen;
    width: 100%;
    height: 90vh;
    cursor: url('img/COW64.png'), auto;
    overflow: hidden;
}

#follow {
    position: relative;
    left: 500px;
    top: 300px;
}

.ufo {
    position: relative;
    left: -60px;
    top: -75px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 20px;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}